.chat-message-container{
  flex-grow: 1;
  margin-top: 20px;
  overflow:scroll;
  scrollbar-width: none;
}

.chat-initial-text{
  color: rgb(120, 120, 120);
  text-align: center;
  margin-top: 0;
}

.loading-spinner{
  height: 40px;
  margin: -15px;
}
